<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cczu.spider.repository.SysSuggestionRepo" >
    <select id="getSuggestionBySearch" resultType="com.cczu.spider.entity.SysSuggestionEntity" parameterType="java.util.Map">
        SELECT
            *
        FROM
            `cczublog`.`sys_suggestion`
        WHERE
            `content` LIKE '%测试%'
    </select>

</mapper>