<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cczu.spider.repository.SysZoneMapper" >
    <select id="querySysZoneByZoneCode" resultType="com.cczu.spider.entity.SysZoneEntity" parameterType="java.lang.String">
        select * from sys_zone where zoneCode = #{zoneCode}
    </select>

</mapper>